<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white px-md-5">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a
        class="logo navbar-nav me-auto mb-lg-0 mt-lg-0 mt-md-2 text-decoration-none"
        href="/"
      >
        Khum Restaurant
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin_login">Back-end</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="right d-flex align-items-center justify-content-center">
      <!-- Icon -->
      <a href="#" id="cart" class="link-secondary text-decoration-none me-3">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
        <span
          class="badge rounded-pill badge-notification bg-success cart-badge"
        ></span>
      </a>
      <!-- <a class="link-secondary me-3" href="#">
              <i class="fas fa-shopping-cart"></i>
            </a> -->

      <!-- Notifications -->
      <div class="dropdown">
        <a
          class="link-secondary me-3 hidden-arrow text-decoration-none"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-clock-rotate-left"></i>
        </a>
        <!-- <ul
          class="dropdown-menu dropdown-menu-end text-small shadow"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#"
              >Your order is in queue
              <span class="badge rounded-pill badge-notification bg-warning"
                >1</span
              ></a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="./order_status.html"
              >Order details</a
            >
          </li>
        </ul> -->
      </div>
      <!-- Avatar -->
      <!-- <div class="flex-shrink-0 dropdown avatar isAuthen"></div> -->
      <div class="flex-shrink-0 dropdown avatar">
        <a
          href="#"
          class="d-block link-secondary text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="./assets/icon.jpg"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle profile"
          />
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li>
            <a class="dropdown-item" href="/profile">Profile</a>
          </li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">History</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="/signin">Sign out</a></li>
        </ul>
      </div>
      
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- End Navbar -->
