<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header") %>
    <link rel="stylesheet" href="/css/mdb.min.css" />
  </head>
  <body>
    <%- include("partials/admin_nav") %>
    <div class="container">
      <main>
        <div class="row p-5 d-flex align-items-center justify-content-center">
          <div class="mb-4 col-md-7 col-lg-8">
            <h6 class="mb-0">
              <a href="/admin_dashboard" class="text-body text-decoration-none"
                ><i class="fas fa-long-arrow-alt-left me-2"></i>Customer Order</a
              >
            </h6>
          </div>
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Add new menu</h4>
            <form
              action="/add-menu"
              method="POST"
              class="needs-validation"
              novalidate=""
            >
              <div class="row g-3 mb-4">
                <div class="col-12">
                  <label for="title" class="form-label">Title:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    placeholder="e.g. strawberry shake"
                    required
                  />
                </div>

                <div class="col-12">
                  <label for="category" class="form-label">Category:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="category"
                    name="category"
                    placeholder="e.g. shakes"
                    required
                  />
                </div>

                <div class="col-12">
                  <label for="price" class="form-label">Price:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="price"
                    name="price"
                    placeholder="e.g. 69.69"
                    required
                  />
                </div>

                <div class="col-12">
                  <label for="img" class="form-label">Image URL:</label>
                  <input
                    type="text"
                    class="form-control"
                    id="img"
                    name="img"
                    placeholder="e.g. https://images.unsplash.com"
                    required
                  />
                </div>

                <div class="col-12">
                  <label for="desc" class="form-label">Description:</label>
                  <textarea
                    type="text"
                    class="form-control"
                    id="desc"
                    name="desc"
                    placeholder=""
                  ></textarea>
                </div>

                <div class="col-12">
                  <label for="quantity" class="form-label"
                    >Quantity:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="quantity"
                    name="quantity"
                    placeholder="e.g. 69"
                    required
                  />
                </div>
              </div>

              <button
                class="w-100 btn btn-success btn-lg"
                type="submit"
              >
                Add
              </button>
            </form>
          </div>
        </div>
      </main>
    </div>
    <!-- <form action="/add-menu" method="post" id="add-menu-form">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />

      <label for="category">Category:</label>
      <input type="text" id="category" name="category" required />

      <label for="price">Price:</label>
      <input type="number" id="price" name="price" step="0.01" required />

      <label for="img">Image URL:</label>
      <input type="text" id="img" name="img" required />

      <label for="desc">Description:</label>
      <textarea id="desc" name="desc"></textarea>

      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" required />

      <button type="submit">Add Menu</button>
    </form> -->
    <!-- <script src="/script.js"></script> -->
    <%- include("partials/footer") %>
  </body>
</html>
