<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header") %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/payment.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <%- include("partials/nav") %>
    <div class="container text-center py-4 mb-5">
      <h1>QR Payment</h1>
      <div class="d-flex align-items-center justify-content-center my-4">
        <div class="container-slip text-start">
          <div class="slip">
            <div dir="ltr" class="top-slip">
              <h3>Amount to pay</h3>
              <div id="transactionAmount" dir="ltr">351.00 USD</div>
            </div>
            <div class="bottom-slip">
              <div class="bottom-slip-text">Account no.</div>
              <div class="bottom-slip-number mt-2">
                <p id="accountId">
                  <img
                    src="/images/scb-icon.png"
                    class="bank-icon"
                  />852-219122-0
                </p>
                <p id="accountId">
                  <img
                    src="/images/kbank-icon.png"
                    class="bank-icon"
                  />134-2-66142-0
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center my-4">
        <div class="row">
          <div class="col-lg-6 qr">
            <a href="" target="_blank" class="a-link">
              <div class="qr-wrapper">
                <img src="/images/qrivee.jpg" alt="qrcode" />
              </div>
            </a>
          </div>
          <div class="col-lg-6 qr">
            <a href="" target="_blank" class="a-link">
              <div class="qr-wrapper">
                <img src="/images/qrweb.jpg" alt="qrcode" />
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        <div class="me-4">
          <a class="btn btn-success" href="/checkout">&#60; Back </a>
        </div>
        <div>
          <a class="btn btn-success" href="/order_status"> Next &#62;</a>
        </div>
      </div>
    </div>
    <%- include("partials/footer") %>
  </body>
</html>
