<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header") %>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/status.css" />
  </head>
  <body>
    <%- include("partials/nav") %>
    <section class="h-100" style="background-color: #eee">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8">
            <div
              class="card border-top border-bottom border-3"
              style="border-color: #27ae60 !important"
            >
              <div class="card-body p-5">
                <h1 class="lead fw-bold" style="color: #27ae60">
                  Waiting for confirmation
                </h1>
                <p class="sub-lead text-secondary mb-4">Processing...</p>
                <div class="card-dividerRow mb-4">
                  <p class="icon -fa-utensils card-dividerText active-fixed">
                    <i class="fa-solid fa-utensils"></i>
                  </p>

                  <div class="card-dividerLine line-fa-bowl-food"></div>
                  <p class="icon -fa-bowl-food card-dividerText">
                    <i class="fa-solid fa-bowl-food"></i>
                  </p>

                  <div class="card-dividerLine line-fa-motorcycle"></div>
                  <p class="icon -fa-motorcycle card-dividerText">
                    <i class="fa-solid fa-motorcycle"></i>
                  </p>

                  <div class="card-dividerLine line-fa-location-dot"></div>
                  <p class="icon -fa-location-dot card-dividerText">
                    <i class="fa-solid fa-location-dot"></i>
                  </p>
                </div>
                <p class="text-secondary mb-4">Order no. h311oM0th3rfUck3r</p>
                <div
                  id="map"
                  style="width: 600px; height: 300px"
                  class="w-100 mb-4"
                ></div>
                <p class="mb-0 fw-bold" style="color: #27ae60">
                  Payment summary
                </p>
                <hr
                  class="mt-2 mb-4"
                  style="
                    height: 0;
                    background-color: transparent;
                    opacity: 0.75;
                    border-top: 2px dashed #9e9e9e;
                  "
                />

                <div class="d-flex justify-content-between">
                  <p class="fw-bold mb-0">buttermilk pancakes(Qty:1)</p>
                  <p class="text-muted mb-0">$15.99</p>
                </div>

                <div class="d-flex justify-content-between">
                  <p class="small mb-0">Shipping</p>
                  <p class="small mb-0">$5.00</p>
                </div>

                <div class="d-flex justify-content-between pb-1">
                  <p class="small">Tax</p>
                  <p class="small">$0.00</p>
                </div>

                <div class="d-flex justify-content-between">
                  <p class="fw-bold">Total</p>
                  <p class="fw-bold" style="color: #27ae60">$20.99</p>
                </div>

                <div class="pt-3">
                  <h6 class="mb-0">
                    <a href="/" class="text-body text-decoration-none"
                      ><i class="fas fa-long-arrow-alt-left me-2"></i>Back to
                      shop</a
                    >
                  </h6>
                </div>

                <p class="mt-4 pt-2 mb-0">
                  Want any help?
                  <a href="#" style="color: #27ae60">Please contact us</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      $("p.icon").click(function () {
        $(this).toggleClass("active"); // add class to icon
        var classes = $(this).attr("class").split(" ");
        $(".line" + classes[1]).toggleClass("active"); // add class to line
        if ($(".-fa-utensils").hasClass("active-fixed")) {
          $(".lead").text("Waiting for confirmation");
          $(".sub-lead").text("Processing...");
        }
        if ($(".-fa-bowl-food").hasClass("active")) {
          $(".lead").text("Preparing order");
          $(".sub-lead").text("5 sec until arrival (approx.)");
        }
        if ($(".-fa-motorcycle").hasClass("active")) {
          $(".lead").text("On the way");
          $(".sub-lead").text("5 sec until arrival (approx.)");
        }
        if ($(".-fa-location-dot").hasClass("active")) {
          $(".lead").text("Arrived at the destination");
          $(".sub-lead").text("Thank you");
        }
      });
    </script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_w3ntqlpIvJhv8JJDhMMq4wRazbhs1MM&language=en&callback=initMap"
      async
      defer
    ></script>
    <script src="/js/map.js"></script>
    <%- include("partials/footer") %>
  </body>
</html>
