.card-dividerRow {
  box-sizing: inherit;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.card-dividerLine {
  box-sizing: inherit;
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex: 1 1 0%;
  height: 0.2rem;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.16);
}

.card-dividerText {
  box-sizing: border-box;
  color: rgba(20, 20, 20, 0.65);
  font-size: 0.8125rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.375;
  margin: 0px 1rem;
  -webkit-font-smoothing: auto !important;
}

.card-dividerText.active,
.active-fixed {
  color: #27ae60;
}

.card-dividerLine.active {
  background-color: #27ae60;
}

.text-body {
  --mdb-text-opacity: 1;
  color: rgba(79, 79, 79, 1) !important;
}

@media (max-width: 767.98px) {
  .card-body {
    padding: 18px !important;
  }
}
